[Unit]
Description=Weekly IrysView_Dev Postgres backup

[Timer]
# Every Sunday at 2 AM
#OnCalendar=Sat *-*-* 01:24:00 America/Los_Angeles
OnCalendar=Sun *-*-* 02:00:00 America/Los_Angeles
Unit=irysview_backup.service

[Install]
WantedBy=timers.target
