[Unit]
Description=Weekly Postgres backup

[Timer]
# Every Sunday at 2 AM
#OnCalendar=Sat *-*-* 01:24:00 America/Los_Angeles
OnCalendar=Sun *-*-* 02:00:00 America/Los_Angeles
Unit=pgBackup.service

[Install]
WantedBy=timers.target
