[Unit]
Description=Run PostgreSQL backup for %i daily
Requires=pg-backup@%i.service

[Timer]
OnCalendar=Sat *-*-* 02:00:00 America/Los_Angeles
Persistent=true

[Install]
WantedBy=timers.target
